node_modules

.next
out
build
next-env.d.ts

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

coverage
*.tsbuildinfo

.env
.env.*
!.env.example

.vercel
.DS_Store
/docs-markdown
